<h1>Bootstrap Table</h1>
<h3 class=text-primary>{{ title }}</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">이름</th>
      <th scope="col">나이</th>
      <th scope="col">생성시간</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td>{{row.id}}</td>
      <td>{{row.name}}</td>
      <td>{{row.age}}</td>
      <td>{{row.createdAt | date : "yyyy-MM-dd HH:mm"}}</td>
    </tr>
  </tbody>
</table>
<br>
<h1><i class="material-icons">face</i> Material Component - Tabs</h1>
<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
